@import 'base';
@import 'menu';
@import 'ref';
@import 'view2';
@import 'page';


@import 'entries';

@function getWidth($h){
  @return $h * (1.732);
}

@mixin setDimensions($h){
  height: $h;
  width: getWidth($h);
  border-radius: $h * (1/20);
}

@function yPos($yHex){
  @return $yHex * ($hex-size + $row-margin + 3) +$hex-size / 2 + $row-margin - 2;
}

@function rowFloatOffset($hexSize, $row){
  @return ($hexSize / 1.732) * ($row - 1);
}


.hex {
  pointer-events: all;
  @include setTransitions(100ms);
  display: inline-block;

  &.bgcolor, &.bgcolor:before, &.bgcolor:after {
    background-color: #9e9e9e;
  }

  &:before, &:after{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
  }
  &:before {
    transform: rotate(60deg);
  }
  &:after {
    transform: rotate(-60deg);
    left: 0;
    top: 0;
  }


  &.small{
    @include setDimensions($hex-size);
    position: relative;
    background: #fff;
    margin: 0;//$small-hex-margin;
    margin-right: $hex-gutter; 
    margin-left: 0px;
    z-index: 0;

    &:hover{
      background: #F8baba;
      cursor: pointer;
    }

    div {
      width: getWidth($hex-size);
      height: 200%;
      position: relative;
      top: $hex-size * (-90 / 188);
      pointer-events: none;
      z-index: 1;
      border:none;
      background-repeat: no-repeat;
      background-size: 100% 100%; 
      @include setTransitions(500ms);
    }
  } // small
  
  &.medium {
    @include setDimensions($medium-hex-size);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1; 

    img {
      width: getWidth($medium-hex-size);
      position: relative;
      top: -1 * ( $medium-hex-size / 2);
      pointer-events: none;
      @include setAllTransitions(300ms);
    }
    &.northHex{
      top: ( $medium-hex-size / 2);
    }
    &.southHex{
      top: (( $hex-gutter / 1.732 ) * 2)+ ( $medium-hex-size / 2);
      transform: translate(-50%, 300%);
    }
    &.eastHex{
      top: ( $hex-gutter / 1.732 ) + ( $medium-hex-size / 2);
      transform: translate(-101.3%, 150%);
    }
    &.westHex{
      top: ( $hex-gutter / 1.732 ) + ( $medium-hex-size / 2);
      transform: translate(1%, 150%);
    }
  } // medium

  &.large {
    @include setDimensions($large-hex-size);
    position: absolute;
    left: 50%;
    transform: translate(-50.2%, 0);
    z-index: 1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    img {
      width: getWidth($large-hex-size);
      position: relative;
      top: $large-hex-size * (-90 / 188);
      pointer-events: none;
    }

    &.northHex{
      top: yPos(2); //put the top point in the second row 
    }
    &.southHex{
      top: yPos(8);
    }
    &.eastHex{
      top: yPos(5);
      transform: translate(1%, 0);
    }
    &.westHex{
      top: yPos(5);
      transform: translate(-101.3%, 0);
    }
    &.freeHex{
      position: relative;
      left: auto;
      transform: none;
      float: left;
      @media screen and (min-width: 1110px){
        margin: $large-hex-size 80px ($large-hex-size / 1.25) 80px;
      }
      @media screen and (min-width: 960px){
        margin:  $large-hex-size auto ($large-hex-size / 1.25) auto;
        float: none;
        position: static;
        display: block;
      }
    }
  } // large

}


.container {
  width: $container-width;
  line-height: 1.0;
  overflow: hidden;
  padding-left: $container-left;
  margin-left: auto;
  margin-right: auto;
}

.hexGrid {
  position: absolute;
  top: 0px;
  width: inherit;
  background: #FFFFFF;
  padding-top: $row-margin;
}

.over480{
  display: none;
}
@media screen and (min-width: 480px){
  .over480 {
    display:inherit;
  }
}

.visible {
  display: inherit;
  opacity: 1;
}

.invisible {
  display: hidden;
  height: 0px;
}
.opacityZ{
  opacity: 0;
  position: absolute;
  top:0;
}
.opacityA{
  opacity: 1;
  position: absolute;
  top:0;
}
.gone {
  opacity: 0!important;
  height: 0!important;
  /*width: 0!important;*/
}

ol {
  pointer-events:none;
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px; //16 / 40 * $hex-size; //+ 2 * $hex-gutter;
  -webkit-margin-after: 0px;
}

ol.even {
  position: relative;
  left: $hex-size / 2 * (1.732) + ($hex-gutter / 2);
}

ol.odd {
  position: relative;
  left: 0px;
  margin-top: $row-margin;
  margin-bottom: $row-margin;
}

ol {
  white-space: nowrap;
}
#hex-float {
  min-height: $large-hex-size * 3;
}