/* 
white:        #FFFFFF
all cs:       #CCCCCC
cool easy gray:   #4B5B6E
Old Wrench Steel: #343444
Cure:       #F1F2DF
Perfection:     #8A6A6A
Cream Vintage   #C99E89
*/
/*($container-width / 13) * (6 / 10.2) * (14/15); //41px;*/
/*$small-hex-margin: ($hex-size * (1.732)) / (1.732 * 2) + ($hex-gutter);*/
/*1 * ($hex-size / 2 * 1.732) + ($hex-gutter / 4 * 1.732) - 1px;*/
/* line 85, _base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
}

/* line 91, _base.scss */
h1 {
  font-family: 'Josefin Slab', serif;
  font-family: 'Josefin Sans', sans-serif;
  /**/
  font-size: 30pt;
  font-weight: bold;
  color: #4b5b6e;
  /*lighten(#400A19, 5%); /*darken(#8A6A6A, 10%);/* #4B5B6E;/**/
}

/* line 98, _base.scss */
h2, h3 {
  font-weight: 100;
  font-size: 18pt;
  font-family: 'Quicksand', sans-serif;
  color: #4B5B6E;
}

/* line 104, _base.scss */
h3 {
  font-size: 16pt;
}

/* line 108, _base.scss */
.centered-content {
  margin: 0 auto;
  height: auto;
  /*margin-top: 80px;*/
  margin-bottom: 80px;
  /*overflow: hidden;*/
}

@media screen and (min-width: 480px) {
  /* line 117, _base.scss */
  .centered-content {
    max-width: 1180px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 80px auto;
  }
}
/* line 125, _base.scss */
.fade {
  /*opacity: 0;*/
  transition: all 120ms ease-in;
}

/* line 129, _base.scss */
.second-fade,
.pseudo-fade:before,
.pseudo-fade:after {
  transition: all 300ms ease-in;
}

/* line 135, _base.scss */
.slow-fade.pseudo-fade:before,
.slow-fade.pseudo-fade:after {
  transition: all 1000ms ease-in;
}

/* line 140, _base.scss */
.view-container.ng-enter .fade,
.view-container.ng-enter .second-fade,
.view-container.ng-enter .pseudo-fade:before,
.view-container.ng-enter .pseudo-fade::after {
  opacity: 0;
}

/* line 146, _base.scss */
.view-container.ng-enter-active .fade,
.view-container.ng-enter-active .second-fade,
.view-container.ng-enter-active .pseudo-fade:before,
.view-container.ng-enter-active .pseudo-fade::after {
  opacity: 1;
}

/* 
white: 				#FFFFFF
all cs: 			#CCCCCC
cool easy gray: 	#4B5B6E
Old Wrench Steel:	#343444
Cure:				#F1F2DF
Perfection:			#8A6A6A
Cream Vintage		#C99E89

Thanks to subtlepatterns.com for the cool cork wallet pattern
*/
/******************** Header **************/
/* line 13, menu.scss */
#top-bar {
  width: 100%;
  position: absolute;
  z-index: 1;
  /*background-color: #F1F2DF;
  border-bottom: solid 1px #C99E89;*/
  background-image: url("img/merely_cubed.jpg");
}
/* line 21, menu.scss */
#top-bar #logo {
  max-height: 2.5em;
  margin: .5em;
  float: left;
  margin-left: 1.25em;
}

/* line 28, menu.scss */
nav {
  float: right;
  margin: 1em;
}

/* line 33, menu.scss */
.menu-large {
  display: none;
}
/* line 35, menu.scss */
.menu-large a {
  color: #8A6A6A;
  padding: .75em 1em;
}
/* line 38, menu.scss */
.menu-large a:hover {
  color: #F1F2DF;
  background-color: #4B5B6E;
  text-decoration: none;
  opacity: .9;
  background-image: url("img/merely_cubed.jpg");
  background-blend-mode: multiply;
}

/* line 48, menu.scss */
.topMenu {
  background-color: #4B5B6E;
  opacity: .97;
}
/* line 51, menu.scss */
.topMenu .menu-small {
  margin: 0;
  width: 100%;
}
/* line 55, menu.scss */
.topMenu a {
  color: #F1F2DF;
  height: 39px;
  display: block;
  width: 100%;
  margin: auto 0;
  border-bottom: 1px solid #343444;
  padding: 0;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

/* line 68, menu.scss */
header button {
  float: right;
  background-color: transparent;
  font-size: 20px;
  width: 40px;
  line-height: 40px;
  margin-top: 8px;
  color: #8A6A6A;
  border: none;
  padding: 0 48px 0 40px;
}

@media screen and (min-width: 768px) {
  /* line 83, menu.scss */
  .menu-large {
    display: block;
  }

  /* line 86, menu.scss */
  header button {
    display: none;
  }
}
/* line 2, ref.scss */
.hidden {
  display: none;
}

/* line 6, ref.scss */
.ref {
  position: relative;
  vertical-align: baseline;
}

/* line 11, ref.scss */
.refnum {
  position: relative;
  left: 2px;
  bottom: 1ex;
  font-family: Verdana, sans-serif;
  color: #005994;
  font-size: .7em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* line 23, ref.scss */
.refbody {
  font-family: Verdana, sans-serif;
  font-size: .7em;
  line-height: 1.1;
  display: block;
  min-width: 20em;
  position: absolute;
  left: 25px;
  bottom: 5px;
  border: 1px solid;
  padding: 5px;
  background-color: #fff;
  word-wrap: break-word;
  z-index: 9999;
  overflow: auto;
}

/* line 40, ref.scss */
.refcenter {
  position: fixed;
  display: table;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 3, view2.scss */
#about-content {
  text-align: center;
  margin: 80px 40px 40px 40px;
}
/* line 6, view2.scss */
#about-content h1, #about-content h2 {
  margin: 0;
  padding: 0;
}
/* line 10, view2.scss */
#about-content p {
  margin: 4px 0 0 0;
}

/* line 14, view2.scss */
#hex-float {
  /*margin-top: 10%;*/
  min-height: 200px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 80px;
}

/********************* Lower Container **********************/
/* line 25, view2.scss */
.side-content {
  width: 30%;
  display: inline-block;
  padding: 40px;
  max-width: 400px;
  position: absolute;
  background: url("img/pencil_top_angle_small2.jpg") top right no-repeat, url("img/pencil_bottom_angle_small2.jpg") bottom right no-repeat, url("img/pencil_vertical_repeat_small2.jpg") center right;
  background-repeat-x: no-repeat;
  -webkit-transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 38, view2.scss */
.column {
  text-align: justify;
}

/* line 41, view2.scss */
.left-side {
  margin-right: 50%;
  right: 0;
  padding-right: 120px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
/* line 46, view2.scss */
.left-side h1 {
  text-align: right;
}
/* line 52, view2.scss */
.left-side * {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  /* flip the innards back the right way */
}

/* line 56, view2.scss */
.right-side {
  margin-left: 50%;
  left: 0;
  padding-right: 120px;
  /* right is left because we're flipping this */
}

@media screen and (max-width: 1024px) {
  /* line 62, view2.scss */
  .side-content {
    width: 35%;
    padding-right: 80px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 70, view2.scss */
  .side-content {
    max-width: 100%;
    width: auto;
    float: none;
    position: static;
    padding: 40px 80px 40px 40px;
    margin: 0 40px 0 40px;
  }

  /* line 79, view2.scss */
  .left-side h1 {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  /* line 86, view2.scss */
  .side-content {
    padding: 40px;
    margin: 0;
    background-image: none;
  }
}
@media screen and (min-width: 480px) {
  /* line 94, view2.scss */
  #about-content {
    width: 300px;
    margin: 80px auto 40px auto;
  }

  /*#hex-float {
  	height: 300px;
  }*/
}
/*************** Animations *************/
/* line 104, view2.scss */
.flip-it {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}

/* line 1, page.scss */
html, body {
  height: 100%;
}

/* line 4, page.scss */
html, body, .view-container, header, section, div {
  vertical-align: top;
  display: block;
  color: #343444;
}

/* line 9, page.scss */
body {
  overflow: auto;
}

/* line 12, page.scss */
header, section {
  clear: both;
}

/* line 15, page.scss */
.view-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

/* line 21, page.scss */
.clear {
  clear: both;
}

/* line 24, page.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 3, entries.scss */
.works-entry {
  background: url(img/pencil_top_angle_small2.png) top right no-repeat, url(img/pencil_bottom_angle_small2.png) bottom right no-repeat, url(img/pencil_vertical_repeat_small2.jpg) center right;
  background-repeat-x: no-repeat;
}
/* line 6, entries.scss */
.works-entry:before {
  content: '';
  height: auto;
  float: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat-x: no-repeat;
  background: url(img/pencil_top_angle_small2.png) top right no-repeat, url(img/pencil_bottom_angle_small2.png) bottom right no-repeat, url(img/pencil_vertical_repeat_small2.jpg) center right repeat-y;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  pointer-events: none;
}
@media screen and (min-width: 960px) {
  /* line 20, entries.scss */
  .works-entry .left-column {
    background: url(img/brillant.png) repeat;
    background-blend-mode: multiply;
    border-radius: 10px;
    -webkit-box-shadow: 3px 0 8px -6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 3px 0 8px -6px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 0 8px -6px rgba(0, 0, 0, 0.8);
  }
  /* line 63, _base.scss */
  .works-entry .left-column:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 8px;
    right: -10px;
    left: auto;
    width: 80%;
    top: 80%;
    -webkit-box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.16);
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.16);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  /* line 26, entries.scss */
  .works-entry .left-column:after {
    border-radius: 10px;
  }
}

/* line 33, entries.scss */
.works-entry, .header-entry {
  width: 100%;
  margin: 40px 0;
  height: auto;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
/* line 42, entries.scss */
.works-entry img, .header-entry img {
  padding: 0;
  margin: 40 auto;
  clear: both;
  width: 100%;
}
/* line 48, entries.scss */
.works-entry .entry-header, .header-entry .entry-header {
  text-align: left;
  margin-top: 262.65046px;
  /*- $h1-font-size;*/
}
/* line 51, entries.scss */
.works-entry .entry-header h1, .header-entry .entry-header h1 {
  margin: 0;
}
/* line 55, entries.scss */
.works-entry .left-column, .header-entry .left-column {
  float: left;
  max-width: 400px;
  left: 40px;
}
/* line 61, entries.scss */
.works-entry .entry-content img:nth-child(1), .header-entry .entry-content img:nth-child(1) {
  margin-top: 30px;
}
/* line 64, entries.scss */
.works-entry .entry-content a, .header-entry .entry-content a {
  color: #8A6A6A;
}
/* line 67, entries.scss */
.works-entry .entry-content .site-link, .header-entry .entry-content .site-link {
  font-size: 14pt;
  float: right;
  margin-bottom: 80px;
  letter-spacing: 2px;
  margin-right: 40px;
}
/* line 76, entries.scss */
.works-entry .highlights, .header-entry .highlights {
  line-height: 30pt;
}
@media screen and (max-width: 1110px) {
  /* line 80, entries.scss */
  .works-entry .entry-header, .works-entry .entry-content, .header-entry .entry-header, .header-entry .entry-content {
    width: 56%;
    left: 40%;
  }
  /* line 84, entries.scss */
  .works-entry .left-column, .header-entry .left-column {
    width: 38%;
    right: 60%;
  }
}
@media screen and (min-width: 960px) {
  /* line 33, entries.scss */
  .works-entry, .header-entry {
    /*max-width: 1020px;*/
    width: 100%;
  }
  /* line 92, entries.scss */
  .works-entry .entry-header, .works-entry .entry-content, .header-entry .entry-header, .header-entry .entry-content {
    position: relative;
    pointer-events: all;
    left: 44%;
    width: 46%;
    float: left;
    /*margin-left: 30px;/**/
    max-width: 550px;
  }
  /* line 101, entries.scss */
  .works-entry .entry-content, .header-entry .entry-content {
    margin-top: 16pt;
    /* $h1-font-size; */
  }
  /* line 105, entries.scss */
  .works-entry .left-column, .header-entry .left-column {
    width: 34%;
    position: absolute;
    right: 64%;
    top: 0;
    height: 100%;
    text-align: center;
  }
  /* line 113, entries.scss */
  .works-entry .highlights, .header-entry .highlights {
    position: static;
    display: inline-block;
    margin: 40px auto 40px auto;
    text-align: left;
  }
}

/* line 121, entries.scss */
.header-entry {
  /* 
   * This will make a pencil line on the far right side of the left column for the header entry
   */
  /**/
}
/* line 126, entries.scss */
.header-entry .left-column:after {
  content: '';
  z-index: 10;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  right: -40px;
  background: url(img/pencil_vertical_repeat_small2.jpg) right;
  background-repeat-x: no-repeat;
}
/* line 138, entries.scss */
.header-entry:after {
  content: '';
  position: absolute;
  left: 80px;
  bottom: -60px;
  right: 80px;
  height: 80px;
  z-index: -10;
  background: url(img/pencil_horizontal_repeat_small2.jpg) bottom;
  background-repeat-y: no-repeat;
  transiton: all 1s slide;
}
/* line 151, entries.scss */
.header-entry .entry-header {
  margin-top: 80px;
}
/* line 155, entries.scss */
.header-entry .entry-content h2 {
  margin-top: 40px;
  margin-bottom: 2px;
}
/* line 159, entries.scss */
.header-entry .entry-content h3 {
  margin-top: 8px;
}
/* line 161, entries.scss */
.header-entry .entry-content h3 a {
  text-decoration: none;
  background: url(img/pencil_horizontal_repeat_small2.jpg) bottom;
  background-repeat-y: no-repeat;
  padding-bottom: 6px;
}

/* line 29, hex.scss */
.hex {
  pointer-events: all;
  -webkit-transition: background-image 100ms ease-in-out;
  -moz-transition: background-image 100ms ease-in-out;
  transition: background-image 100ms ease-in-out;
  display: inline-block;
}
/* line 34, hex.scss */
.hex.bgcolor, .hex.bgcolor:before, .hex.bgcolor:after {
  background-color: #9e9e9e;
}
/* line 38, hex.scss */
.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
/* line 46, hex.scss */
.hex:before {
  transform: rotate(60deg);
}
/* line 49, hex.scss */
.hex:after {
  transform: rotate(-60deg);
  left: 0;
  top: 0;
}
/* line 56, hex.scss */
.hex.small {
  height: 41.76864px;
  width: 72.34329px;
  border-radius: 2.08843px;
  position: relative;
  background: #fff;
  margin: 0;
  margin-right: 6.96144px;
  margin-left: 0px;
  z-index: 0;
}
/* line 65, hex.scss */
.hex.small:hover {
  background: #F8baba;
  cursor: pointer;
}
/* line 70, hex.scss */
.hex.small div {
  width: 72.34329px;
  height: 200%;
  position: relative;
  top: -19.99563px;
  pointer-events: none;
  z-index: 1;
  border: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: background-image 500ms ease-in-out;
  -moz-transition: background-image 500ms ease-in-out;
  transition: background-image 500ms ease-in-out;
}
/* line 84, hex.scss */
.hex.medium {
  height: 111.10436px;
  width: 192.43275px;
  border-radius: 5.55522px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
/* line 91, hex.scss */
.hex.medium img {
  width: 192.43275px;
  position: relative;
  top: -55.55218px;
  pointer-events: none;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 98, hex.scss */
.hex.medium.northHex {
  top: 55.55218px;
}
/* line 101, hex.scss */
.hex.medium.southHex {
  top: 63.59079px;
  transform: translate(-50%, 300%);
}
/* line 105, hex.scss */
.hex.medium.eastHex {
  top: 59.57149px;
  transform: translate(-101.3%, 150%);
}
/* line 109, hex.scss */
.hex.medium.westHex {
  top: 59.57149px;
  transform: translate(1%, 150%);
}
/* line 115, hex.scss */
.hex.large {
  height: 133.32523px;
  width: 230.9193px;
  border-radius: 6.66626px;
  position: absolute;
  left: 50%;
  transform: translate(-50.2%, 0);
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 123, hex.scss */
.hex.large img {
  width: 230.9193px;
  position: relative;
  top: -63.82591px;
  pointer-events: none;
}
/* line 130, hex.scss */
.hex.large.northHex {
  top: 177.10352px;
}
/* line 133, hex.scss */
.hex.large.southHex {
  top: 583.07921px;
}
/* line 136, hex.scss */
.hex.large.eastHex {
  top: 380.09137px;
  transform: translate(1%, 0);
}
/* line 140, hex.scss */
.hex.large.westHex {
  top: 380.09137px;
  transform: translate(-101.3%, 0);
}
/* line 144, hex.scss */
.hex.large.freeHex {
  position: relative;
  left: auto;
  transform: none;
  float: left;
}
@media screen and (min-width: 1110px) {
  /* line 144, hex.scss */
  .hex.large.freeHex {
    margin: 133.32523px 80px 106.66018px 80px;
  }
}
@media screen and (min-width: 960px) {
  /* line 144, hex.scss */
  .hex.large.freeHex {
    margin: 133.32523px auto 106.66018px auto;
    float: none;
    position: static;
    display: block;
  }
}

/* line 164, hex.scss */
.container {
  width: 1024px;
  line-height: 1.0;
  overflow: hidden;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* line 173, hex.scss */
.hexGrid {
  position: absolute;
  top: 0px;
  width: inherit;
  background: #FFFFFF;
  padding-top: 22.89397px;
}

/* line 181, hex.scss */
.over480 {
  display: none;
}

@media screen and (min-width: 480px) {
  /* line 185, hex.scss */
  .over480 {
    display: inherit;
  }
}
/* line 190, hex.scss */
.visible {
  display: inherit;
  opacity: 1;
}

/* line 195, hex.scss */
.invisible {
  display: hidden;
  height: 0px;
}

/* line 199, hex.scss */
.opacityZ {
  opacity: 0;
  position: absolute;
  top: 0;
}

/* line 204, hex.scss */
.opacityA {
  opacity: 1;
  position: absolute;
  top: 0;
}

/* line 209, hex.scss */
.gone {
  opacity: 0 !important;
  height: 0 !important;
  /*width: 0!important;*/
}

/* line 215, hex.scss */
ol {
  pointer-events: none;
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-margin-after: 0px;
}

/* line 222, hex.scss */
ol.even {
  position: relative;
  left: 39.65236px;
}

/* line 227, hex.scss */
ol.odd {
  position: relative;
  left: 0px;
  margin-top: 22.89397px;
  margin-bottom: 22.89397px;
}

/* line 234, hex.scss */
ol {
  white-space: nowrap;
}

/* line 237, hex.scss */
#hex-float {
  min-height: 399.97569px;
}
