/* line 1, page.scss */
html, body {
  height: 100%;
}

/* line 4, page.scss */
html, body, .view-container, header, section, div {
  vertical-align: top;
  display: block;
  color: #343444;
}

/* line 9, page.scss */
body {
  overflow: auto;
}

/* line 12, page.scss */
header, section {
  clear: both;
}

/* line 15, page.scss */
.view-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

/* line 21, page.scss */
.clear {
  clear: both;
}

/* line 24, page.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
