#about-content {
	text-align: center;
	width: 300px;
	margin: 80px auto 40px auto;
	h1, h2{
		margin: 0;
		padding: 0;
	}
	p {
		margin: 4px 0 0 0;
	}
}
#hex-float {
	//margin-top: 10%;
	height: 300px;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
}
.side-content {
	width: 30%;
	display: inline-block;
	padding: 40px;
}
.left-side{
	/*float: left;
	clear: both;*/
}
.right-side {
	margin-left: 300px;
	/*float: right;
	clear: both;*/
}