/* line 3, view2.scss */
#about-content {
  text-align: center;
  margin: 80px 40px 40px 40px;
}
/* line 6, view2.scss */
#about-content h1, #about-content h2 {
  margin: 0;
  padding: 0;
}
/* line 10, view2.scss */
#about-content p {
  margin: 4px 0 0 0;
}

/* line 14, view2.scss */
#hex-float {
  /*margin-top: 10%;*/
  min-height: 200px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

/********************* Lower Container **********************/
/* line 23, view2.scss */
#lower-container {
  margin: 0 auto;
  height: auto;
  /*margin-top: 80px;*/
  margin-bottom: 80px;
  overflow: hidden;
}

/* line 30, view2.scss */
.side-content {
  width: 30%;
  display: inline-block;
  padding: 40px;
  max-width: 400px;
  position: absolute;
  background: url("img/pencil_top_angle_small2.jpg") top right no-repeat, url("img/pencil_bottom_angle_small2.jpg") bottom right no-repeat, url("img/pencil_vertical_repeat_small2.jpg") center right;
  background-repeat-x: no-repeat;
  -webkit-transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 43, view2.scss */
.column {
  text-align: justify;
}

/* line 46, view2.scss */
.left-side {
  margin-right: 50%;
  right: 0;
  padding-right: 120px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
/* line 51, view2.scss */
.left-side h1 {
  text-align: right;
}
/* line 57, view2.scss */
.left-side * {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  /* flip the innards back the right way */
}

/* line 61, view2.scss */
.right-side {
  margin-left: 50%;
  left: 0;
  padding-right: 120px;
  /* right is left because we're flipping this */
}

@media screen and (max-width: 1024px) {
  /* line 67, view2.scss */
  .side-content {
    width: 35%;
    padding-right: 80px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 75, view2.scss */
  .side-content {
    max-width: 100%;
    width: auto;
    float: none;
    position: static;
    padding: 40px 80px 40px 40px;
    margin: 0 40px 0 40px;
  }

  /* line 84, view2.scss */
  .left-side h1 {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  /* line 91, view2.scss */
  .side-content {
    padding: 40px;
    margin: 0;
    background-image: none;
  }
}
@media screen and (min-width: 480px) {
  /* line 99, view2.scss */
  #about-content {
    width: 300px;
    margin: 80px auto 40px auto;
  }

  /* line 104, view2.scss */
  #hex-float {
    height: 300px;
  }

  /* line 107, view2.scss */
  #lower-container {
    max-width: 1180px;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: hidden;
  }
}
/*************** Animations *************/
/* line 115, view2.scss */
.flip-it {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
