<div class="container">

  <div class="hexGrid">
    <div ng-repeat="row in hexRow">
      <ol class="{{row.rowClass}}">
        <li class='hex' ng-repeat="x in row.hexes" ng-init="bkColor = '#eef'" ng-mouseover="bkColor = x.color" ng-mouseout="bkColor = '#fff'" style="background: {{bkColor}}"></li>
      </ol>
    </div>  
  </div>

 

  <div class='logoHex' ng-mouseover="source = 'img/HexLogo.png'" ng-mouseout="source = 'img/HexLogoSketch.png'" ng-init="source='img/HexLogoSketch.png'">
    <img src='{{source}}'></img>
  </div>
</div>